<!DOCTYPE html>
<html>
  <head>
    <title>Project IoT - 5A ACAD 2024-2025</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js"></script>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div id="home">
        <div class="profile_name">
          Project IoT - NFC badge verification system
          <div class="contact_info">
            <img src="static/html_finalprojimages/envelope.png" alt="Email Icon" />
            huu_nhat_huy.nguyen@insa-cvl.fr
          </div>
        </div>
        <div class="topdiv">
          <a class="topmenu" href="project.html">About</a>
          <a class="topmenu" href="#team">Team</a>
          <a class="topmenu" href="#technologies">Technologies</a>
          <a class="topmenu" href="#milestones">Milestones</a>
          <a class="topmenu" href="/users">Database Users</a>
        </div>
        
      </div>
    </nav>

    <!-- About Project -->
    <section id="about-project" class="container">
      <div>
        <h1>About the Project</h1>
        <p>About</p>
      </div>
    </section>

    <!-- Team Section -->
    <section id="team">
      <h2>Team Members</h2>
      <div class="all_team">
        <div class="team_member">
          <h6>Huy NGUYEN</h6>
          <img src="static/img/members/huy.png" />
          <p>Web Developper</p>
        </div>
        <div class="team_member">
          <h6>Khoa VU</h6>
          <img src="static/img/members/unknown.jpeg" />
          <p>Backend Programmer</p>
        </div>
        <div class="team_member">
          <h6>Van Hieu HA</h6>
          <img src="static/img/members/unknown.jpeg" />
          <p>RaspberryPi Programmer</p>
        </div>
        <div class="team_member">
          <h6>Quoc Cuong NGUYEN</h6>
          <img src="static/img/members/unknown.jpeg" />
          <p>RaspberryPi Programmer</p>
        </div>
        <div class="team_member">
          <h6>Quoc Tan NGUYEN</h6>
          <img src="static/img/members/unknown.jpeg" />
          <p>Web Developper</p>
        </div>
      </div>
    </section>

    <!-- Technologies Section -->
    <section id="technologies">
      <h2>Technologies</h2>
      <div class="all_skills">
        <div class="skill">
          <img src="static/html_finalprojimages/html5.png" />
          <h6>HTML5</h6>
        </div>
        <div class="skill">
          <img src="static/html_finalprojimages/CSS3.png" />
          <h6>CSS</h6>
        </div>
        <div class="skill">
          <img src="static/html_finalprojimages/js.jpeg" />
          <h6>JavaScript</h6>
        </div>
        <div class="skill">
          <img src="static/html_finalprojimages/raspberrypi.png" />
          <h6>Raspberry Pi</h6>
        </div>
        <div class="skill">
          <img src="static/html_finalprojimages/flask.png" />
          <h6>Flask</h6>
        </div>
      </div>
    </section>

    <!-- Projects -->
    <section class="projects" id="projects">
      <h2>Projects</h2>
      <div style="clear: both"></div>

      <div id="projects-container" class="projects-container">
        <div class="project-card">
          <h3>Weather Information</h3>
          <ul>
            <li>
              Developed a secure website used for searching weather Information
              using HTML, CSS, JavaScript and IBM Watson Assistant
            </li>
          </ul>
        </div>
        <hr />
        <div class="project-card">
          <h3>Music Searching Website</h3>
          <ul>
            <li>
              Developed a website to find music and recommend others playlist
              with the same genre.
            </li>
          </ul>
        </div>
        <hr />
        <div class="project-card">
          <h3>Thrifting Clothes Website</h3>
          <ul>
            <li>
              Created a styled multi-page website for buying and selling old
              clothes integrated it with a shopping cart, using stripe for
              payment gateway
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div style="clear: both"></div>

    <!-- Recommendations -->
    <section id="recommendations">
      <h2>Recommendations</h2>
      <div style="clear: both"></div>
      <div class="all_recommendations" id="all_recommendations">
        <div class="recommendation">
          <span>&#8220;</span>
          Huy Nguyen's rapid grasp of complex concepts and commitment to
          teamwork make him a standout full-stack developer. His code reviews
          offer valuable insights, while his clear communication bridges
          technical and non-technical gaps. Huy's hunger for knowledge and
          dedication to growth set him apart.
          <span>&#8221;</span>
        </div>
        <div class="recommendation">
          <span>&#8220;</span>
          Huy Nguyen's innovative thinking and design skills have elevated our
          projects. His passion for experimentation, collaborative spirit, and
          commitment to learning make him an invaluable asset. Huy's ability to
          push boundaries makes him an exceptional full-stack developer.

          <span>&#8221;</span>
        </div>
        <div class="recommendation">
          <span>&#8220;</span>
          Huy Nguyen's dependable nature, attention to detail, and adaptability
          have greatly benefited our team. His mentorship and collaborative
          approach foster a positive environment. Huy's commitment to continuous
          improvement and humility make him an outstanding full-stack developer.

          <span>&#8221;</span>
        </div>
      </div>
    </section>

    <!-- Recommendation Form -->
    <section id="contact">
      <div class="flex_center">
        <fieldset>
          <legend class="introduction">Leave a Recommendation</legend>
          <input type="text" placeholder="Name (Optional)" /> <br />
          <textarea
            id="new_recommendation"
            cols="500"
            rows="10"
            placeholder="Message"
          ></textarea>
          <div class="flex_center">
            <button id="recommend_btn" onclick="addRecommendation()">
              Submit
            </button>
          </div>
        </fieldset>
      </div>
    </section>

    <!-- Scroll up button -->
    <div class="iconbutton">
      <a href="#home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          width="63px"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </a>
    </div>

    <div class="popup" id="popup" class="flex_center">
      <img src="static/html_finalprojimages/checkmark--outline.svg" />
      <h3>Thank you for leaving a positive recommandation!</h3>
      <button onclick="showPopup(false)">Ok</button>
    </div>
  </body>
</html>
