<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoT Project</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <h1>IoT Project</h1>
      <p>Access control badge-vision with RaspberryPi</p>
    </header>

    <nav>
      <a href="/">Home</a>
      <a href="/members">Members</a>
      <a href="/users">Users</a>
      <a href="/attendance">History</a>
    </nav>

    <main>
      <div class="main-content">
        <div class="section" id="about">
          <h2>About</h2>
          <p>Edit here</p>
        </div>
      </div>

      <div class="main-content">
        <div class="section" id="features">
          <h2>Functionality</h2>
          <p>Edit here</p>
        </div>
      </div>

      <!--
      <div class="main-content">
        <div class="section-title">
          <h2>Checkpoints</h2>
        </div>
        <div class="timeline">
          <div class="timeline-event">
            <div class="timeline-content">
              <div class="event-text">
                <h3>Bắt đầu dự án</h3>
                <p class="timeline-date">Tháng 1, 2024</p>
                <p>
                  Chúng tôi đã bắt đầu nghiên cứu và lập kế hoạch cho dự án, xác
                  định mục tiêu và các công cụ sẽ sử dụng.
                </p>
              </div>
              <div class="event-image">
                <img src="image1.jpg" alt="Bắt đầu dự án" />
              </div>
            </div>
          </div>

          <div class="timeline-arrow"></div>

          <div class="timeline-event">
            <div class="timeline-content">
              <div class="event-text">
                <h3>Hoàn thành giai đoạn thiết kế</h3>
                <p class="timeline-date">Tháng 3, 2024</p>
                <p>
                  Đội ngũ phát triển hoàn thành thiết kế tổng thể và các phần
                  mềm cần thiết cho dự án.
                </p>
              </div>
              <div class="event-image">
                <img src="image2.jpg" alt="Hoàn thành thiết kế" />
              </div>
            </div>
          </div>

          <div class="timeline-arrow"></div>

          <div class="timeline-event">
            <div class="timeline-content">
              <div class="event-text">
                <h3>Thực hiện mã hóa và triển khai</h3>
                <p class="timeline-date">Tháng 6, 2024</p>
                <p>
                  Quá trình mã hóa chính thức bắt đầu, các tính năng của dự án
                  được triển khai trên môi trường thử nghiệm.
                </p>
              </div>
              <div class="event-image">
                <img src="image3.jpg" alt="Mã hóa và triển khai" />
              </div>
            </div>
          </div>

          <div class="timeline-arrow"></div>

          <div class="timeline-event">
            <div class="timeline-content">
              <div class="event-text">
                <h3>Hoàn thành giai đoạn thử nghiệm</h3>
                <p class="timeline-date">Tháng 9, 2024</p>
                <p>
                  Chúng tôi đã hoàn thành các thử nghiệm cuối cùng và sửa chữa
                  các lỗi phát hiện trong quá trình kiểm tra chất lượng.
                </p>
              </div>
              <div class="event-image">
                <img src="image4.jpg" alt="Thử nghiệm" />
              </div>
            </div>
          </div>

          <div class="timeline-arrow"></div>

          <div class="timeline-event">
            <div class="timeline-content">
              <div class="event-text">
                <h3>Ra mắt chính thức</h3>
                <p class="timeline-date">Tháng 12, 2024</p>
                <p>
                  Dự án chính thức được ra mắt, người dùng có thể truy cập và sử
                  dụng các tính năng của hệ thống.
                </p>
              </div>
              <div class="event-image">
                <img src="image5.jpg" alt="Ra mắt" />
              </div>
            </div>
          </div>
        </div>
      </div>
-->
      <div>
        <h2 class="label">Development tools</h2>
      </div>

      <div class="main-content">
        <div class="tools-container">
          <div class="tool-card">
            <img src="/static/logo/python.png" alt="Python" />
            <h3>Python</h3>
            <p>
              We use Python as the main programming language for the project,
              it's help us setting up the RaspberryPi and the backend server.
              Also we use Python for the facial regconition part of the project
            </p>
          </div>
          <div class="tool-card">
            <img src="/static/logo/flask.png" alt="Flask" />
            <h3>Flask</h3>
            <p>
              With Flask API, we were able to set up the connection between
              backend data and the HTML page via API. We then use Flask to host
              a Webserver by the RaspberryPi within the local network for
              accessing the data.
            </p>
          </div>
          <div class="tool-card">
            <img src="/static/logo/git.jpeg" alt="Git & GitHub" />
            <h3>Git & GitHub</h3>
            <p>
              Git is a tools for control version, we use Git to manage the
              source code of the project and make it easier to develop the
              project in a team.
            </p>
          </div>
          <div class="tool-card">
            <img src="/static/logo/mysql.png" alt="Docker" />
            <h3>MySQL</h3>
            <p>
              We use mySQL as the database for the project, it's help us to
              store the data of the users and the attendance history, also the
              image of each access.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 VnIOT - INSA Centre Val de Loire.</p>
    </footer>
  </body>
</html>
