<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VnIOT's members</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <h1>VnIOT</h1>
      <p>Team's Members</p>
    </header>

    <nav>
      <a href="/">Home</a>
      <a href="/members">Members</a>
      <a href="/users">Users</a>
      <a href="/attendance">History</a>
    </nav>

    <h1 class="team-content">Our Team</h1>
    <section class="main-content">
      <div class="team-container">
        <div class="team-member">
          <img src="/static/img/members/hieuha.jpeg" alt="Hieu" />
          <h3>Hieu HA</h3>
          <h4>Project Manager</h4>
          <p>
            Hieu is the project manager who is responsible for the advancement
            of the project and helping the team with ideas to implement.
          </p>
        </div>
        <div class="team-member">
          <img src="/static/img/members/khoavu.jpeg" alt="Khoa" />
          <h3>Khoa VU</h3>
          <h4>Vision Engineer</h4>
          <p>
            Khoa was able to develop the vision part with PiCamera, helping us
            to apply the facial recognition part to the project.
          </p>
        </div>
        <div class="team-member">
          <img src="/static/img/members/huynguyen.jpg" alt="Huy" />
          <h3>Huy NGUYEN</h3>
          <h4>Data Engineer</h4>
          <p>
            Huy used Python and mySQL for the work relevant to the database and
            validation of the visual recognition from the camera for 2-layer
            security.
          </p>
        </div>
        <div class="team-member">
          <img src="/static/img/members/cuongnguyen.jpeg" alt="Cuong" />
          <h3>Quoc-Cuong NGUYEN</h3>
          <h4>Backend Engineer</h4>
          <p>
            Cuong done his excellent job in processing queries from webserver
            and create the API for the project.
          </p>
        </div>
        <div class="team-member">
          <img src="/static/img/members/tannguyen.jpeg" alt="Tan" />
          <h3>Quoc-Tan NGUYEN</h3>
          <h4>Frontend Engineer</h4>
          <p>
            Tan used his programming stack of HTML, CSS for developing the user
            interface and responsible for the user experience of the web.
          </p>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 ACAD - INSA Centre Val de Loire.</p>
    </footer>
  </body>
</html>
